# Laravel
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
composer.phar

# Storage
/storage/framework/views/*.php
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/logs/*.log

# Composer
/.composer/
/.composer/*
.composer/cache/

# Docker
docker-compose.override.yml
.env.docker
docker/.env

# Go tool and build artifacts
# /bin/
# *.exe
# go.sum
/vendor/
*_templ.go

# IDE & Editor files
/.fleet
/.idea
/.vscode
/.zed
*.sublime-workspace
*.sublime-project
.DS_Store
